* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
}

img,
video,
svg {
  max-width: 100%;
  height: auto;
}

body,
body * {
  font-family: "Montserrat", sans-serif;
}

.brand {
  font-family: "Montserrat";
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d6323d;
  padding: 2em;
  height: 70px;
}

header .nav_btn {
  fill: white;
  width: 35px;
  display: block;
}

header .nav_btn-close {
  float: right;
  margin: 1.25em 2em;
}

header nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  height: 100vh;
  width: 60%;
  min-width: max-content;
  background: black;
  display: none;
}

header nav.nav-open {
  display: block;
}

header nav .menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: 25vh;
  margin-left: 2em;
}

header nav .menu li {
  font-size: 3vh;
  text-decoration: none;
  color: white;
  opacity: 0.8;
}

header nav .menu li.active {
  font-weight: 600;
  opacity: 1;
}

header nav .menu li:hover, header nav .menu li:active {
  opacity: 1;
  text-decoration: 1px underline white;
  text-underline-offset: 4px;
}

@media (min-width: 870px) {
  header .nav_btn {
    display: none;
  }
  header nav {
    all: unset;
  }
  header nav.nav-open {
    display: unset;
  }
  header nav .menu {
    display: flex;
    flex-flow: row nowrap;
    margin: unset;
    gap: 1em;
  }
}

.hero {
  position: relative;
  height: calc(100vh - 70px);
}

.hero-bg {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.hero-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
}

.hero-title {
  text-align: center;
  font-family: "Montserrat";
  font-size: clamp(0.85em, 3.5vw, 2.75rem);
  font-weight: 400;
  color: white;
  letter-spacing: 3px;
  line-height: 0.9;
}

.hero-title span {
  display: block;
  font-size: 5em;
  font-weight: 900;
  color: transparent;
  letter-spacing: 0.075em;
  -webkit-text-stroke: 5px white;
}

@media (min-width: 870px) {
  .hero-title span {
    -webkit-text-stroke: 8px white;
  }
}
